//App custom typography
$font_family_main:  'Quicksand', sans-serif;
$font_family_p: 'Questrial', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//App custom colors
$black_coral: #495867;
$cornflower_blue: #788bff;
$blue_purple: #9bb1ff;
$light_blue: #bfd7ff;
$ghost_white: #f7f7ff;
$orange_red: #fe5f55;
