// Fonts
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card {
    background-color: $black_coral;
    color: $ghost_white;
    border-radius: 15px;
}

.card-form {
    border-radius: 0 15px 15px 0;
}

.background-form {
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;

}

.register {
    background-image: url('/images/Casa-5.jpg');
}

.login {
    background-image: url('/images/login.jpg');
}

.welcome {
    text-transform: uppercase;
}

.dash a {
    text-decoration: none;
    color: $ghost_white;
    font-size: 1.25rem;
    border: 1px solid $ghost_white;
    padding: .625rem;
    border-radius: .9375rem;
}

// ###### MEDIA QUERY ###### 

@media screen and (max-width: 768px) {
    .card {
        border-radius: 15px 15px 15px 15px;
    }
}